@model IEnumerable<AspCoreModels.LedModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.desc)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.desc)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.id, gpio=item.gpio  }) |
                @Html.ActionLink("Details", "Details", new { id = item.id, gpio = item.gpio }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id, gpio = item.gpio })
            </td>
        </tr>
}
    </tbody>
</table>
